.booksListDiv{
    display: flex;
    flex-wrap: wrap;
}

/* styling book component */
.bookDiv{
    background-color: var(--background3);
    text-align: center;
    max-width: 40%;
    border-radius: 5px;
    height: 45%;
    margin: 5%;
}
.bookName{
    color: white;
    padding: 5px;
}
.bookImage{
    width: 90%;
    height: 60%;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
}
.buttonLink{
    color: black;
    text-decoration: none;
}
.buttonLink > button{
    background-color: var(--downloadColor);
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
}
@media screen and (min-width: 810px){
    .bookDiv{
        width: 25%;
        height: 45%;
        margin: 4%;
    }
    .bookImage{
        padding: 0;
        padding-top: 6px;
    }
}
@media screen and (min-width: 1001px){
    .bookDiv{
        width: 21%;
        height: 45%;
        margin: 2%;
    }
}
@media screen and (min-width: 1300px){
    .bookDiv{
        width: 15%;
        height: 45%;
        margin: 2%;
    }
}