.outerHeader{
    color: var(--linkColor);
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
    background-color: var(--background1);
    font-weight: bold;
}
.homeLink{
    color: var(--linkColor);
    text-decoration: none;
    font-size: 1.8em;
    font-weight: normal;
}
.homeLink > i,
.homeLink > span{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.navLinkList{
    list-style-type: none;
}
.navLinks{
    display: inline-block;
    padding: 20px;
}
.navLinks>a{
    color: var(--linkColor);
    text-decoration: none;
}

.forkOption{
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    left: -30px;
    top: 60px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 30px;
    font-size: 12px;
    position: fixed;
    z-index: 2;
}
.forkOption > a{
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 426px){
    .homeLink{
        font-size: 2.1em;
    }
    .homeLink{
        font-size: 2.5em;
    }
}
@media screen and (min-width: 810px){
    .header{
        text-align: left;
    }
    .navLinkList{
        float: right;
    }
    .forkOption{
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        top: 0;
        left: 0;
        padding: 5px;
        background-color: var(--inputColor);
        position: relative;
        float: right;
        margin-top: -15px;
    }
}
@media screen and (min-width: 1000px){
    .header{
        margin-right: 5%;
        margin-left: 5%;
    }
    .forkOption{
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        left: -30px;
        top: 35px;
        padding: 5px;
        padding-left: 25px;
        padding-right: 30px;
        position: fixed;
        z-index: 2;
        /* background: none; */
    }
}
