*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto Slab', serif;
}

/* COLOR SCHEMES FOR WEBSITE */
:root {
  --background1: #0CC678;
  --background2: #007B8A;
  --background3: #0E6175;
  --downloadColor: #00AE8B;
  --footer: #009591;
  --inputColor: #C4C4C4;
  --linkColor: #2F4858;
}
