.booksListDiv{
    display: flex;
    flex-wrap: wrap;
}

/* styling book component */
.bookDiv{
    background-color: var(--background3);
    text-align: center;
    width: 160px;
    border-radius: 5px;
    margin: 20px;
}
.bookDiv>span{
    color: white;
}
.bookImage{
    width: 150px;
    height: 200px;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
}
.buttonLink{
    color: black;
    text-decoration: none;
}
.buttonLink > button{
    background-color: var(--downloadColor);
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: inherit;
}