.booksPageDiv{
    background-color: var(--background1);
    min-height: 100vh;
    padding: 10px;
    padding-top: 140px;
}
.booksPageDiv > hr{
    border: 0.5px solid black;
}
.searchHeader{
    padding: 5px;
}
.searchHeader>h1{
    font-size: 2em;
}

/* styling search field */
.searchInput{
    background-color: var(--downloadColor);
    border: none;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
    outline-color: white;
    width: 50%;
}
#booksSearchDiv{
    float: right;
    padding: 5px;
    text-align: right;
    width: 70%;
    margin-top: 5px;
}
.footerLine{
    padding: 10px;
}

@media screen and (max-width: 396px){
    #booksSearchDiv{
        width: 75%;
    }
    .searchInput{
        width: 35%;
    }
}
@media screen and (min-width: 1001px){
    .booksPageDiv{
        padding-left: 5%;
        padding-right: 5%;
    }
    #booksSearchDiv{
        width: 45%;
    }
    .searchInput{
        width: 68%;
    }
}