/* THIRD PAGE */
#thirdPage{
    background-color: var(--background3);
    min-height: 100vh;
    padding-top: 140px;
    color: white;
}
#thirdPage > h2{
    padding: 20px;
}
#thirdPage > hr{
    margin-left: 20px;
    margin-right: 20px;
}

/* form styles */
.communityForm{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}
.upperForm>h3,
.downForm>h3{
    padding: 20px;
}
.inputDiv{
    padding: 10px 20px;
}
.formInput{
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 98%;
    margin-top: 5px;
    background-color: var(--inputColor);
}
.formButton{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: var(--background1);
}

@media screen and (min-width: 600px){
    .communityForm{
        width: 40%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 4%;
        padding-left: 4%;
    }
    #mobileLine{
        display: none;
    }
}
@media screen and (min-width: 810px){
    #thirdPage{
        padding-top: 70px;
    }
}
@media screen and (min-width: 1001px){
    #thirdPage{
        padding-left: 5%;
        padding-right: 5%;
    }
}